<% if flash[:alert].present? %>
    <div class="alert alert-danger" role="alert">
      <%= flash[:alert]  %>
    </div>
<% end %>
<%= form_for @book, method: 'patch' do |f| %>
    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <div class="isbn">
      <%= f.label :isbn %>
      <%= f.text_field :isbn %>
    </div>
    <p><%= f.label :user %><%= f.select :user_id, User.all.map { |p| [p.name, p.id] } %></p>
    <p><%= f.label :"有無" %><%= f.radio_button :status, 0 %> <%= f.label :status_0, "あります" %><%= f.radio_button :status, 1 %> <%= f.label :status_1, "注文中" %></p>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
<div class="return">
  <p>本を借りる場合はUserを自分の名前に、返す場合はKAUMOにしてupdateしてください。</p>
</div>
<% @user.each do |u| %>
   <h2>
     <%= u.id %>
     <%= u.name %>
   </h2>
<% end %>
