<% if flash[:alert].present? %>
    <div class="alert alert-danger" role="alert">
      <%= flash[:alert]  %>
    </div>
<% end %>
<%= form_for @book, method: 'patch' do |f| %>
    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <div class="isbn">
      <%= f.label :isbn %>
      <%= f.text_field :isbn %>
    </div>
    <p><%= f.label :user %><%= f.text_field :user_id, :placeholder => " User_IDを入れてください", :class => "register_area" %></p>
    <p><%= f.label :status %><%= f.text_field :status, :placeholder => " 注文中であれば1にしてください", :class => "register_area" %></p>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
<div class="return">
  <p>本を返す場合はUserを1にしてupdateしてください。</p>
  <p>本が注文中の場合はStatusを1にしてupdateしてください。</p>
</div>
<% @user.each do |u| %>
   <h2>
     <%= u.id %>
     <%= u.name %>
   </h2>
<% end %>