<h1>Isbnには必ず10桁の英数字をいれてください。</h1>
<% if flash[:alert].present? %>
    <div class="alert alert-danger" role="alert">
      <%= flash[:alert]  %>
    </div>
<% end %>
<%= form_for @book do |f| %>
    <p>ISBN</p>
    <p><%= f.text_field :isbn %></p>
    <input class="btn btn-danger" type="button" id="info_search_button" value="検索">
<div class="field">
  <p>Title</p> <%= f.text_field :title %>
</div>
<div class="status">
  <p><%= f.label :"有無" %><%= f.radio_button :status, 0 %> <%= f.label :status_0, "あります" %><%= f.radio_button :status, 1 %> <%= f.label :status_1, "注文中" %></p>
</div>
    <%= f.text_field :image %>
<div class="actions">
  <%= f.submit %>
</div>
<% end %>
