<% if flash[:alert].present? %>
    <div class="alert alert-danger" role="alert">
      <%= flash[:alert]  %>
    </div>
<% end %>
<%= form_for @book do |f| %>
<div class="field">
  <%= f.label :title %>
  <%= f.text_field :title %>
</div>
<div class="isbn">
  <%= f.label :isbn %>
  <%= f.text_field :isbn %>
</div>
<div class="status">
  <%= f.label :status %><%= f.text_field :status, :placeholder => " 注文中であれば1にしてください", :class => "register_area" %>
</div>
    <h1>Isbnには必ず10桁の英数字を登録してください。</h1>
    <h1>注文中の本であればStatusを1にしてください。</h1>
<div class="actions">
  <%= f.submit %>
</div>
<% end %>