<% if flash[:notice].present? %>
    <div class="notice" >
      <%= flash[:notice]  %>
    </div>
<% end %>
<% if @book.status == 1 then %>
    注文中です
<% else %>
    KAUMOにあります
<% end %>

<h1><%= link_to @book.title, edit_book_path(@book.id) %></h1>
<%= image_tag(@book.image) %>
<h3><%=  @book.isbn %></h3>

<%= link_to "戻る", root_path %>
