<!DOCTYPE html>
<html>
<head>
  <title>KaumoBooks</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <h1><%= link_to "KAUMO Books", root_path %></h1>
  <h3><%= link_to "User一覧", users_path %> ・ <%= link_to "借りられてる本一覧", borrows_path %></h3>
</head>
<body>

<%= yield %>

</body>
</html>
